.styleFont {
    font-family: 'Gochi Hand', cursive;
    font-family: 'Parisienne', cursive;
    /* font-family: 'Playball', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Tangerine', cursive; */
    color : #bd3415;

  
}